@model FinalProjectV1.Models.IndexViewModel
@{
    ViewBag.Title = "אזור אישי";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>ברוך הבא @Model.Name</h4>
    <hr />
        <div class="tableContainer">
            <table class="table Personal data">
                <tbody>
                    <tr>
                        <td>שם:</td>
                        <td>
                            <text>@Html.ActionLink(@Model.Name, "ChangeName", null, new { @style = "color:#000aaa;" })</text>
                        </td>
                    </tr>
                    <tr>
                        <td>כתובת מגורים:</td>
                        <td>
                            <text>@Html.ActionLink(@Model.Address, "ChangeAdress", null, new { @style = "color:#000aaa;" })</text>
                        </td>
                    </tr>
                    <tr>
                        <td>כתובת מייל:</td>
                        <td>
                            <text>@Html.ActionLink(@Model.Email, "ChangeEmail", null, new { @style = "color:#000aaa;" })</text>
                        </td>
                    </tr>
                    <tr>
                        <td>מספר טלפון:</td>
                        <td>
                            <text>@Html.ActionLink(@Model.PhoneNumber, "AddPhoneNumber", null, new { @style = "color:#000aaa;" })</text>
                        </td>
                    </tr>
                    <tr>
                        <td>תעודת זהות:</td>
                        <td>@Model.IsraeliIdentify</td>
                    </tr>
                    <tr>
                        <td>סיסמה:</td>
                        <td>
                            @if (Model.HasPassword)
                            {
                               @Html.ActionLink("שינוי סיסמה", "ChangePassword", null, new { @style = "color:#000aaa;" })
                            }
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    <h4>@Model.Name, הרכבים שבבעלותך:</h4>
    @if (Model.Cars != null)
    {

        
        
        <div class="tableContainer">
            <table class="table Personal data">
                
                    <tr>
                        <td align="center"><span style="font-weight:bold">סוג הרכב</span></td>
                        <td align="right"><span style="font-weight:bold">מספר הרכב</span></td>
                    </tr>
               
                @foreach (var item in Model.Cars)
                {
                    <tr>
                        <td align="center">@item.Value</td>
                        <td align="right">@Html.ActionLink(@item.Key, "History", "History", new { carNumber = @item.Key, isOwner = true }, new { @style = "color:#000aaa;" })</td>
                    </tr>
                }
            </table>
        </div>
    }
    @Html.ActionLink("הוסף רכב", "AddOwnCar", "Manage", new { @style = "color:#000aaa;" })
</div>
