@model FinalProjectV1.Models.CarBoard
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="carBoardContainer">
    <h2>לוח רכב</h2>
    <form aasp-controller="CarBoard" asp-action="Index">
        <section class="carBoard" dir="rtl">
            <center>
                <div class="searchBar">
                    <div class="formContainer">
                        <div class="title">יצרן</div>
                        <select class="selectpicker" name="productName" id="prod" onmousedown="if(this.options.length>8){this.size=8;}"  onchange='this.size=0;' onblur="this.size=0;">
                            <option value="">בחר יצרן</option>
                            @foreach (var product in Model.carsProduct)
                            {
                                <option value="@product">@product</option>
                            }
                        </select>
                    </div>
                    <div class="formContainer">
                        <div class="title">דגם</div>
                        <select class="selectpicker" name="model">
                            <option value="">בחר דגם</option>
                            <option value="2614">אוולון</option>
                            <option value="140">אוונסיס</option>
                            <option value="2548">אוונסיס ורסו</option>
                            <option value="1201">אוריס</option>
                            <option value="2336">אייגו (AYGO)</option>
                            <option value="1654">ורסו</option>
                            <option value="1470">יאריס</option>
                            <option value="2344">יאריס הייבריד</option>
                            <option value="1525">סולרה קבריולט</option>
                            <option value="143">סטארלט</option>
                            <option value="1046">פריוס</option>
                            <option value="2527">פריוס C</option>
                            <option value="2376">פריוס פלוס</option>
                            <option value="146">קאמרי</option>
                            <option value="1428">קורולה</option>
                        </select>
                    </div>
                    <div class="formContainer">
                        <div class="title">הילוכים</div>
                        <select class="selectpicker" name="gear">
                            <option value="">הילוכים</option>
                            <option value="Automatic">אוטומטי</option>
                            <option value="Manual">ידני</option>
                        </select>
                    </div>
                    <div class="formContainer">
                        <div class="title">אזור</div>
                        <select class="selectpicker" name="location">
                            <option value="">בחר אזור</option>
                            @foreach (var area in Model.areas)
                            {
                                <option value="@area">@area</option>
                            }
                        </select>
                    </div>
                    </br>
                    <div class="formContainer">
                        <div class="title">משנה</div>
                        <select class="selectpicker" name="startYear">
                            <option value="">החל משנת</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                        </select>
                    </div>
                    <div class="formContainer">
                        <div class="title">עד שנה</div>
                        <select class="selectpicker" name="endYear">
                            <option value="">עד שנת</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                        </select>
                    </div>
                    <div class="formContainer">
                        <input type="text" class="form-control" name="minPrice" placeholder="ממחיר">
                    </div>
                    <input type="text" class="form-control" name="maxPrice" placeholder="עד מחיר">
                </div>
                <div>
                    <input type="submit" value="חפש" />
                </div>
            </center>
        </section>
    </form>

    </hr>

    <ul class="messagesBoard" id="messagesBoardList">
        <li class="panelHeader row">
            <div class="col-xs-1"><img src="~/images/img3.png" /></div>
            <div class="col-xs-3">יצרן-דגם</div>
            <div class="col-xs-1">נפח</div>
            <div class="col-xs-1">שנה</div>
            <div class="col-xs-1">יד</div>
            <div class="col-xs-1">הילוכים</div>
            <div class="col-xs-1">מחיר</div>
            <div class="col-xs-1">איזור</div>
            <div class="col-xs-1"><img src="~/images/img5.png" /></div>
            <div class="col-xs-1">תאריך</div>
        </li>


        @foreach (var item in Model.cars)
        {


            <li class="panel row">
                <a href="javascript:void(0)" class="btnCollapse row collapsed" data-target="#@item.CarNumber" data-toggle="collapse" data-parent="#messagesBoardList">
                    <div class="col-xs-1"><img src="~/images/img2.png" /></div>
                    <div class="col-xs-3">@item.ProductName @item.CommericalAlias</div>
                    <div class="col-xs-1">@item.EngineCapacity</div>
                    <div class="col-xs-1">@item.Year</div>
                    <div class="col-xs-1">@item.Yad</div>
                    <div class="col-xs-1">@item.Gaer</div>
                    <div class="col-xs-1">@item.Price</div>
                    <div class="col-xs-1">@item.Location</div>
                    <div class="col-xs-1"><img src="~/images/img4.png" /></div>
                    <div class="col-xs-1">@item.DatePublished.ToShortDateString()</div>
                </a>
                <div class="messageDropdown row collapse" id="@item.CarNumber">
                    <div class="col-sm-6 descMessage">
                        <ul class="carDeatilesList list-group">
                            <li class="title">פרטי הרכב</li>
                            <li class="list-group-item"><strong>יצרן:</strong>@item.ProductName</li>
                            <li class="list-group-item"><strong>דגם:</strong>@item.CommericalAlias</li>
                            <li class="list-group-item"><strong>נפח:</strong>@item.EngineCapacity</li>
                            <li class="list-group-item"><strong>שנה:</strong>@item.Year</li>
                            <li class="list-group-item"><strong>יד:</strong>@item.Yad</li>
                            <li class="list-group-item"><strong>הילוכים:</strong>@item.Gaer</li>
                            <li class="list-group-item"><strong>בעלות:</strong>@item.Ownership</li>
                            <li class="list-group-item"><strong>ק"מ:</strong>@item.KM</li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-xs-6 secondaryListContainer">
                                        <ul class="secondaryList">
                                            <li>ABS</li>
                                            <li>גג שמש</li>
                                            <li>כריות אוויר</li>
                                            <li>חלונות חשמליים</li>
                                            <li>מזגן</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-6 pika">
                                        <ul>
                                            <li>@item.ABS</li>
                                            <li>@item.Roof</li>
                                            <li>@item.AirBags</li>
                                            <li>@item.PowerWindow</li>
                                            <li>@item.AC</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 descMessage">
                        <div class="carDeatiles">
                            <div class="title">תמונה</div>
                            <div class="pic">
                                <img src="~/images/img7.png" />
                            </div>
                        </div>
                        <div class="carDeatiles">
                            <div class="title">תיאור/תוספות</div>
                            <div class="content">
                                <p>
                                    @item.Description
                                </p>
                            </div>
                        </div>
                        <div class="carDeatiles">
                            <div class="title">יצירת קשר</div>
                            <div class="content">
                                <div><strong>שם המוכר:</strong>@item.SellerName</div>
                                <div><strong>טלפון:</strong>@item.Tel</div>
                                <form action="/History/History" controller="History">
                                    <section class="history" dir="rtl">
                                        <div class="formContainer">
                                            <input class="form-control" type="text" name="password" /><strong>:סיסמה זמנית</strong>
                                        </div>
                                        <div hidden class="formContainer">
                                            <input hidden class="form-control" type="hidden" name="carNumber" value="@item.CarNumber"/>
                                        </div>
                                        <div>
                                            <input type="submit" value="שלח" />

                                        </div>
                                    </section>
                                </form>  
                            </div>
                        </div>
                    </div>
                </div>
            </li>


        }
    </ul>
</div>