<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                           </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
            
                    <li>@Html.ActionLink("ראשי", "Index", "Home")</li>
                    <li>@Html.ActionLink("לוח רכב", "Index", "CarBoard")</li>
                    <li>@Html.ActionLink("היסטוריית רכב", "Index", "History")</li>
                    <li>@Html.ActionLink("צור קשר", "Contact", "Home")</li>
                    <li>@Html.ActionLink("אזור אישי", "Index", "Personal")</li>
                </ul>
                <a class="nav navbar-nav">
                    <img id="navbar-brand" src="~/images/logo.jpg" />
                </a>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <footer>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
